html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    display: block;
    overflow: auto;
}

.navbar {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    overflow: auto;
}

.navbar .logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    min-height: 81vh;
}

.content .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content .hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-button {
    background-color: #333333;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button {
    background-color: #333333; 
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555555;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    min-width: 100%;
    overflow: auto;
}

/*-------------- login.html --------------*/

.login-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555555;
}

#errorlogin {
    color: red;
}

/*-------------- courses --------------*/

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 10px;
    width: 300px;
    color: black;
}

.course-card img {
    width: 100%;
    height: auto;
    padding : 0px, 0px;
    border-radius: 8px;
}

.course-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.course-details {
    font-size: 14px;
    margin-bottom: 5px;
}

.completed-indicator {
    font-size: 14px;
    margin-top: 10px;
}



  .mini-course-card {
    display: inline-block;
    width: 200px; 
    background-color: #f9f7f7;
    color: black;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    display: flex;
  }

  .mini-course-card img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    margin-right: 10px;
  }

  .mini-course-card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mini-course-card button {
      background-color: #333333;
      color: #ffffff;
      padding: 5px 5px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .mini-course-card h3,
  .mini-course-card p {
    margin: 0;
    font-size: 12px;
  }

  .mini-course-card .grade {
    font-weight: bold;
  }

@media (max-width: 480px) {
    .course-card {
        max-width: 100%;
    }
}

/*-------------- textbox --------------*/

.input-container {
    position: relative;
    margin-bottom: 20px;
  }

  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
  }
  
  .input-container input:focus {
    border-color: #333333;
  }

  .submit-button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }

  .course-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .course-details {
    margin-bottom: 20px;
  }

  .course-details p {
    margin: 0;
    font-size: 14px;
  }

  .course-details .label {
    font-weight: bold;
  }

  .course-description {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }

/*-------------- info --------------*/

table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    font-weight: bold;
  }

/*-------------- submit course --------------*/

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group input[type="file"] {
    padding: 6px;
  }

  .form-group textarea {
    resize: vertical;
    height: 80px;
  }

  .submit-btn {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #45a049;
  }
