body{
    background-color: #d6e6ff;
}

h1, h2, h3, h4, h5{
    padding-left: 10px;
    padding-right: 10px;
}

/*-------------- index.html --------------*/

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.head li {
    float: left;
    padding-right: 5px;
}

.head li:last-child {
    border-right: none;
}

.head li button {
    display: block;
    color: #63584f;
    background-color: #D8C4B6;
    text-align: center;
    padding: 12px 16px;
    font-size: 15px;
    font-style: Roboto;
    font-weight: bold;
    border: 1px;
    border-radius: 10px;
}

.head li button:hover:not(.active) {
    background-color: #d7ac8d;
}

.head .top li h1{
    font-family: sans-serif;
    transform: translate(-130%, 0%);
    font-size: 50px;
}

.head {
    padding: 5px 10px;
    background-color: #F5EFE7;
}

.navbar {
    padding: 5px 10px;
    background-color: #fcead1;
    border-radius: 10px;
}

.top img {
    padding-left: 7px;
    padding-top : 4px;
    padding-bottom : 5px;
    max-width: 15%;
    height: auto;
}

.content, .footer{
    background-color: #F5EFE7;
    color: #3e3732;
    border-radius: 10px;
    min-width: 95%;
    padding: 5px;
}

/*-------------- login.html --------------*/

.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    transform: translate(80%, 0%)
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555555;
}

#errorlogin {
    color: red;
}

/*-------------- courses.html --------------*/

.course-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .course-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #dddddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.4);
      padding: 20px;
      margin: 10px;
      width: 300px;
    }

    .course-card img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-radius: 8px;
    }

    .course-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .course-details {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .completed-indicator {
      font-size: 14px;
      margin-top: 10px;
    }

    /* Media query for responsive design */
    @media (max-width: 480px) {
      .course-card {
        max-width: 100%;
      }
    }